
/* Reset some default styles */
/* body,ul {
  margin: 0;
  padding: 0;
} */

/* Set a background color and font for the entire page */
body {
  background-color: #281347;
  font-family: Arial, sans-serif;
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
}

/* Style the header */
/* header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
} */

/* Style the navigation menu */
nav {
  background-color: #555;
  background: 0px;
}
nav ul {
  list-style-type: none;
  padding: 50;
  padding-left: 50;
  padding-top: 0;
  padding-bottom: 0;
}
nav li {
  display: inline;
  margin-right: 10px;
}
nav a {
  text-decoration: none;
  color: #fff;
}

main{
  background-color: #211f1f;
  text-emphasis-color: blue;
  padding: 20px;
  margin:90px;

}